.col-lg-9.col-md-9.col-sm-9.col-xs-12
	.post{ "ng-repeat" => "post in filteredposts | filter:buscar | interval:interval_a:interval_b "}
		.preview-post.row{ "ng-if" => "post.publicate == true"}
			.col-lg-9.col-md-9.col-sm-9.col-xs-12
				%h4.title-post
					= link_to "{{ post.title | uppercase }}", "/blog/posts/{{post.permalink}}"
				.image-post
					%img.thumbnail{ "ng-src" => "{{post.image}}" }
				.content-post{ "ng-bind-html" => "post.content_truncate", style: "text-align:justify;"}
				.read-more.pull-right
					= link_to "#" do
						%i.fa.fa-sign-out
						LEER MÃS
			.col-lg-3.col-md-3.col-sm-3.col-xs-12
				%span.date
					{{post.day}}
					%small
						{{post.created_at}}
				%span.info
					%span.block
						%i.fa.fa-user
						POR
						= link_to "{{post.autor | uppercase}}", "/blog/autor/{{post.autor_id}}/posts"
					%span.block
						%i.fa.fa-folder-open-o
						POSTEADO EN
						= link_to "{{post.category_name | uppercase}}", "/blog/category/{{post.category_permalink}}/posts"
					%span.block
						%i.fa.fa-link
						= link_to "PERMALINK", "/blog/posts/{{post.permalink}}"
	{{numPages}} / {{currentPage}}
	%pagination.pagination-sm{"boundary-links" => "true", "max-size" => "maxSize", "ng-model" => "currentPage", "num-pages" => "numPages", :rotate => "false", "total-items" => "totalItems", "items-per-page" => "numPerPage"}
