= simple_form_for(@post) do |f|
	.panel.panel-default
		.panel-heading
			%i.fa.fa-th-list
			= t('post.info')
		.panel-body
			.form-inputs
				= f.input :title, label: false, input_html: { class: "form-control", placeholder: 'title' }
				%br/
				= f.input :content, label: false, input_html: { class: "tinymce", style: "height: 200px;" }
				%br/
				= f.input :image, label: false, input_html: { class: "form-control", placeholder: 'image' }
				%br/
				.row
					.col-lg-3.col-md-3.col-sm-3
						= f.input :public, input_html: { style: "margin:0px;" }
					.col-lg-3.col-md-3.col-sm-3
						= f.input :comments_open, input_html: { style: "margin:0px;"  }
					.col-lg-3.col-md-3.col-sm-3
						= f.input :likes_enabled, input_html: { style: "margin:0px;" }
					.col-lg-3.col-md-3.col-sm-3
						= f.input :shared_enabled, input_html: { style: "margin:0px;" }
		.panel-footer
			= f.submit t('admin.actions.edit'), class: "btn btn-warning pull-right"
			.clearfix

= tinymce :alternate