= content_for(:title, "Admin - Post | #{@post.title}")
%div{ style: "padding:30px; padding-bottom:0px;"}
	.panel.panel-default
		.panel-heading
			%i.fa.fa-exclamation-circle
			= t('post.info')
		.panel-body
			%label= t('post.title')+': '
			= @post.title
			%br/
			%label= t('post.autor')+': '
			= @post.user.name
			%br/
			%label= t('post.category')+': '
			= @post.category.name
			%br/
			%label= t('post.subcategory')+': '
			= @post.subcategory.name
			%br/
			.panel.panel-warning{ style: 'margin:0px; margin-top:10px;'}
				.panel-body
					= raw @post.content
			%br/
			%label= t('post.image')+': '
			- unless @post.image.blank?
				= image_tag @post.image, class: "thumbnail"
			- else
				Sin imágen
			%br/
			.row{ style: 'margin-top:10px;'}
				.col-lg-3.col-md-3.col-sm-3
					%label= t('post.public')+': '
					= @post.public ? "<i class='fa fa-check-circle' style='color:#FFBA3D; font-size:20px;'></i>".html_safe : "<i class='fa fa-minus-circle' style='color:#d9534f; font-size:20px;'></i>".html_safe
				.col-lg-3.col-md-3.col-sm-3
					%label= t('post.comments_open')+': '
					= @post.comments_open ? "<i class='fa fa-check-circle' style='color:#FFBA3D; font-size:20px;'></i>".html_safe : "<i class='fa fa-minus-circle' style='color:#d9534f; font-size:20px;'></i>".html_safe
				.col-lg-3.col-md-3.col-sm-3
					%label= t('post.likes_enabled')+': '
					= @post.likes_enabled ? "<i class='fa fa-check-circle' style='color:#FFBA3D; font-size:20px;'></i>".html_safe : "<i class='fa fa-minus-circle' style='color:#d9534f; font-size:20px;'></i>".html_safe
				.col-lg-3.col-md-3.col-sm-3
					%label= t('post.shared_enabled')+': '
					= @post.shared_enabled ? "<i class='fa fa-check-circle' style='color:#FFBA3D; font-size:20px;'></i>".html_safe : "<i class='fa fa-minus-circle' style='color:#d9534f; font-size:20px;'></i>".html_safe
			%br/
			%label= t('post.tags')+': '
			- @post.tag_list.each do |tag|
				%span.label.label-info{style: 'font-size: 14px;'}= tag
			%br/
		.panel-footer
			= link_to t('admin.actions.edit'), edit_post_path(@post), class: "btn btn-warning pull-right", style: "color:white"
			.clearfix