= simple_form_for(@category) do |f|
  .panel.panel-default
    .panel-heading
      %i.fa.fa-th-list
      Añadir datos
    .panel-body
      .form-inputs
        = f.input :name, label: false, input_html: { class: "form-control", placeholder: 'Nombre' }
        %br/
        %label Subcategorías
        = f.simple_fields_for :subcategories do |c|
          = render 'subcategory_fields', :f => c
        .links
          = link_to_add_association 'añadir subcategoría', f, :subcategories, class: "btn btn-default btn-sm pull-right"
    .panel-footer
      = f.submit params[:action] == 'new' ? t('helpers.submit.create') : t('helpers.submit.update'), class: "btn btn-warning pull-right"
      .clearfix
