= content_for(:title, "Admin - categories")

%div{'ng-controller'=>'indexCategoryCtrl',  'ng-init'=>'init()', style:"padding:30px;padding-bottom:0px;"}
  .angular
    .form-inline
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-search
          %input#input-search{"ng-model" => "buscar.$", :placeholder => t("admin.actions.search"), :type => "text"} 
    .alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
      %strong Admin:    
      {{msnAlert}}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    = render 'layouts/admin/messages'

    %br/
    .panel.panel-default
      .panel-heading
        = link_to new_category_path, class: "btn btn-default", title: t("admin.buttons.new") do
          %i.fa.fa-plus-circle
        %button.btn.btn-default{"ng-click" => "refresh()", :title => t("admin.buttons.refresh") }
          %i.fa.fa-refresh#icon-refresh
        %a.btn.btn-default{"ng-show" => "categories.data.length", "ng-click" => "allSelected(categories)", :title => t("admin.buttons.select_all") }
          %i.fa.fa-check-square-o
        %button#btn-delete.btn.btn-default{class: "btn-{{btnDelete}}", "ng-click" => "destroy()", :title => t("admin.buttons.trash") }
          %i.fa.fa-trash-o
        %button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
          Página {{page}}
        %button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
          %i.fa.fa-arrow-right
        %button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
          %i.fa.fa-arrow-left
      .panel-body
        %table{style: "width:100%"}
          %tbody
            %tr{ class: "select-{{category.checked}}", "ng-click" => "show(category.id)", :id => "row-{{category.id}}", "ng-repeat" => "category in categories.data | filter:buscar | interval:interval_a:interval_b "}
              %td.messages{width: "1px;"}
                %input.check{:id => "check-{{category.id}}", "ng-click" => "selected(category.id); $event.stopPorpagation();", :type => "checkbox", "ng-model" => "category.checked"}
              %td.messages{style: "width:80%;"} {{category.name}}
              %td.messages
                = link_to "/admin/categories/{{category.id}}", title: t('admin.actions.show') do
                  %i.fa.fa-exclamation-circle
                = link_to "/admin/categories/{{category.id}}/edit", title: t('admin.actions.edit') do
                  %i.fa.fa-edit
                = link_to "{{destroy_path(category.id)}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => 'Si eliminas esta categoría se eliminaran todos los Posts adscritos a ella. ¿estás seguro de eliminar?' } do
                  %i.fa.fa-trash-o
            %tr{"ng-show" => "!categories.data.length"}
              %td{:style => "width:100%"}
                - unless @categories.empty?
                  %center
                    %i.fa.fa-spinner.fa-spin{ style: "font-size:30px; margin-bottom:10px;"}
                    %br/
                    Cargando
                - else
                  %center
                    No hay registros

              
      .panel-footer