= content_for(:title, "Admin - Post | #{@category.name}")
%div{ style: "padding:30px; padding-bottom:0px;"}
	.panel.panel-default
		.panel-heading
			%i.fa.fa-exclamation-circle
			= t('post.info')
		.panel-body
			%label Nombre:
			= @category.name.humanize
			%br/
			%label Categorías:
			- @category.subcategories.each do |sub|
				%span.label.label-info{style: "font-size:14px;"}= sub.name
		.panel-footer
			= link_to "Editar", edit_category_path(@category), class: "btn btn-warning pull-right", style: "color:white;"
			.clearfix